<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>WatchGizmos WatchKit App (Complication).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>WatchGizmos WatchKit App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>WatchGizmos.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C745A1F51D7E15A7004B57C1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C745A2091D7E15A7004B57C1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C745A2141D7E15A7004B57C1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C745A21D1D7E15A7004B57C1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
